.button {
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 180px;
	height: 48px;
	text-align: center;
	border: 1px solid #000000;
	cursor: pointer;
}

.button[type='submit'] {
	background-color: #ffc802;
}

.button[type='submit']:hover {
	background-color: #ffedab;
}

.button[type='reset'] {
	background-color: #ffffff;
}

.button[type='reset']:hover {
	filter: invert(100%);
}
